/*
 * Miryoku-style QWERTY (36-key / 3x5+3)
 * With timing-safe homerow mods
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define NUM  2
#define SYM  3
#define FUN  4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <120>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <
/* -------- Row 1 -------- */
&kp Q        &kp W        &kp E        &kp R        &kp T            &kp Y        &kp U        &kp I        &kp O        &kp P
/* ---- Home Row (HRM) --- */
&kp A        &hm LGUI S   &hm LALT D   &hm LCTRL F  &hm LSHFT G      &hm RSHFT H  &hm RCTRL J  &hm RALT K   &hm RGUI L   &kp SEMI
/* -------- Row 3 -------- */
&kp Z        &kp X        &kp C        &kp V        &kp B            &kp N        &kp M        &kp COMMA    &kp DOT      &kp FSLH
/* ------- Thumbs (3+3) -- */
                           &lt NAV ESC  &lt NUM BSPC &lt SYM TAB      &lt SYM RET  &lt NUM SPC  &lt NAV DEL
            >;
        };

        nav_layer {
            label = "Nav";
            bindings = <
&none        &none        &kp UP       &none        &none            &none        &none        &none        &none        &none
&none        &kp LEFT     &kp DOWN     &kp RIGHT    &none            &none        &none        &none        &none        &none
&none        &none        &none        &none        &none            &none        &none        &none        &none        &none
                           &trans       &trans       &trans           &trans       &trans       &trans
            >;
        };

        num_layer {
            label = "Num";
            bindings = <
&kp N1       &kp N2       &kp N3       &kp N4       &kp N5           &kp N6       &kp N7       &kp N8       &kp N9       &kp N0
&none        &none        &none        &none        &none            &none        &none        &none        &none        &none
&none        &none        &none        &none        &none            &none        &none        &none        &none        &none
                           &trans       &trans       &trans           &trans       &trans       &trans
            >;
        };

        sym_layer {
            label = "Sym";
            bindings = <
&kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT        &kp CARET    &kp AMPS     &kp ASTRK    &kp LPAR     &kp RPAR
&kp MINUS    &kp EQUAL    &kp LBKT     &kp RBKT     &kp BSLH         &kp PIPE     &kp TILDE    &kp GRAVE    &kp LT       &kp GT
&none        &none        &none        &none        &none            &none        &none        &none        &none        &none
                           &trans       &trans       &trans           &trans       &trans       &trans
            >;
        };

        fun_layer {
            label = "Fun";
            bindings = <
&kp F1       &kp F2       &kp F3       &kp F4       &kp F5           &kp F6       &kp F7       &kp F8       &kp F9       &kp F10
&kp F11      &kp F12      &none        &none        &none            &none        &none        &none        &none        &none
&none        &none        &none        &none        &none            &none        &none        &none        &none        &none
                           &trans       &trans       &trans           &trans       &trans       &trans
            >;
        };
    };
};
